<header class="c-site-header">
	<div class="c-site-header__content">
		<h1 class="c-site-header__title">
			{{@blog.title}}
		</h1>
		<nav class="site-nav">
			{{#if @blog.navigation}}
				{{navigation}}
			{{/if}}
		</nav>
	</div>
</header>

<div class="c-site-frame">
	<div class="c-site-frame__side c-site-frame__side--left"></div>
	<div class="c-site-frame__side c-site-frame__side--right"></div>
	<div class="c-site-frame__bottom"></div>
</div>
