<header class="c-site-header">
	<div class="c-site-header__content">
		<h1 class="c-site-header__title">
			<a href="{{@blog.url}}" class="js-site-title">{{@blog.title}}</a>
		</h1>

		<button class="c-nav-toggle js-toggle-nav" aria-haspopup="true" aria-label="Site Navigation">
			<div class="c-nav-toggle__bar"></div>
			<div class="c-nav-toggle__bar c-nav-toggle__bar--long"></div>
			<div class="c-nav-toggle__bar"></div>
		</button>
	</div>
</header>

<div class="c-site-frame">
	<div class="c-site-frame__side c-site-frame__side--left"></div>
	<div class="c-site-frame__side c-site-frame__side--right"></div>
	<div class="c-site-frame__bottom"></div>
</div>
