{{!< default}}

<div class="barba-container" data-namespace="home">
	<div class="h-fill-vertical error-404">
		<h1 class="error-404__title">Page Not Found ¯\_(ツ)_/¯</h1>
	</div>

	{{> "footer"}}
</div>
