{{!< default}}
{{!-- The tag above means: insert everything in this file into the {body} of the default.hbs template --}}

<div class="barba-container" data-namespace="home">
	<div class="c-site-cover">
		{{#if @blog.cover_image}}
			<div class="c-site-cover__image" style="background-image: url( {{@blog.cover_image}} );"></div>
		{{/if}}

		<div class="l-wrapper l-content-wrap l-columns c-site-cover__content">
			<h2 class="h2 c-site-cover__title">Bethany Allen Photography</h2>

			<p class="c-site-cover__description">
				I’m passionate about the art, beauty, and love that is your now.  That means I’m here for the big moments, and I’m all about the seemingly small moments.
			</p>
		</div>
	</div>

	<div class="l-collage">
		{{#get "posts" filter="featured:true" limit="9" as |featured|}}
			{{#foreach featured}}
				<div class="l-collage__item">
					{{> "photo-card"}}
				</div>
			{{/foreach}}
		{{/get}}
	</div>

	{{> "footer"}}
</div>
