{{!< default}}
{{!-- The tag above means: insert everything in this file into the {body} of the default.hbs template --}}

<div class="barba-container" data-namespace="home">
	<div class="c-site-cover">
		{{#if @blog.cover_image}}
			<div class="c-site-cover__image" style="background-image: url( {{@blog.cover_image}} );"></div>
		{{/if}}

		<div class="l-wrapper l-content-wrap l-columns c-site-cover__content">
			<h2 class="h2 c-site-cover__title">Photography for all the important moments</h2>

			<p class="c-site-cover__description">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat expedita saepe, quo perspiciatis cum pariatur tenetur laboriosam
				ex voluptatum maxime nam doloremque ab amet dolore eius quae earum alias. Repellat.
			</p>
		</div>
	</div>

	<div class="l-collage">
		{{#get "posts" filter="featured:true" limit="9" as |featured|}}
			{{#foreach featured}}
				<div class="l-collage__item">
					{{> "photo-card"}}
				</div>
			{{/foreach}}
		{{/get}}
	</div>

	{{> "footer"}}
</div>
