{{!< default}}

<div class="barba-container">
	{{!-- Everything inside the #post tags pulls data from the post --}}
	{{#post}}

	{{#if feature_image}}
		<div class="c-hero c-hero--half" style="background-image: url({{feature_image}})">
			<h1 class="h1 c-hero__title js-fade-in-up">{{title}}</h1>
		</div>
	{{/if}}

	<div class="l-content-wrap l-wrapper l-wrapper--medium h-fill-vertical wysiwyg-content">
		{{content}}

		<a href="//www.iubenda.com/privacy-policy/75338606" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a>
		<script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
	</div>

	{{/post}}
</div>

