{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main id="site-main" class="site-main outer" role="main">
	{{#if feature_image}}
		<figure class="post-full-image" style="background-image: url({{feature_image}})">
		</figure>
	{{/if}}

	<section class="post-full-content">
		{{content}}
	</section>
</main>

{{!-- Links to Previous/Next posts --}}
<aside class="read-next outer">
	<div class="inner">
		{{!-- If there's a next post, display it using the same markup included from - partials/post-card.hbs --}}
		{{#next_post}}
			{{> "post-card"}}
		{{/next_post}}

		{{!-- If there's a previous post, display it using the same markup included from - partials/post-card.hbs --}}
		{{#prev_post}}
			{{> "post-card"}}
		{{/prev_post}}

	</div>
</aside>

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}

{{/contentFor}}
