{{!< default}}

<div class="barba-container post_view" data-namespace="post_view">
	{{!-- Everything inside the #post tags pulls data from the post --}}
	{{#post}}

	{{#if feature_image}}
		<div class="c-hero" style="background-image: url({{feature_image}})">
			<h1 class="h1 c-hero__title js-fade-in-up">{{title}}</h1>
		</div>
	{{/if}}

	<section class="l-content-wrap l-wrapper l-wrapper--medium wysiwyg-content">
		{{lazy_content}}
	</section>

	{{!-- Links to Previous/Next posts --}}
	<aside class="read-next outer">
		<div class="inner">
			{{#prev_post}}
				{{> "next-photo-card"}}
			{{/prev_post}}
		</div>
	</aside>

	{{/post}}
</div>
