{{!< default}}
{{!-- The tag above means: insert everything in this file into the {body} of the default.hbs template --}}

<div class="barba-container">
	<div class="l-blog">
		{{#foreach posts}}
			{{> "post-card"}}
		{{/foreach}}
	</div>

	{{pagination}}

	{{> "footer"}}
</div>
