/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300; }

p {
  color: #4F4F4F; }

a, a:visited {
  color: #000000; }

a:hover, a:focus, a:active {
  color: #000000; }

.h1, .wysiwyg-content h1 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-style: italic; }

.h2, .wysiwyg-content h2 {
  color: #C4C4C4;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-style: italic; }

.lazyload,
.lazyloading {
  opacity: 0; }

.lazyloaded {
  opacity: 1;
  transition: opacity 200ms; }

.fade-in-up {
  animation: fade-in-up 300ms; }

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

.c-hero {
  background-position: center;
  background-size: cover;
  display: block;
  min-height: 100vh;
  position: relative; }
  .c-hero__title {
    bottom: 100px;
    color: #FFFFFF;
    left: 50px;
    position: absolute;
    z-index: 1; }
    @media (min-width: 960px) {
      .c-hero__title {
        left: 150px; } }

.c-photo-card {
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative; }
  .c-photo-card__title {
    position: absolute; }
  .c-photo-card__image {
    display: block;
    object-fit: cover;
    width: 100%; }

.c-site-cover {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px); }
  .c-site-cover__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1; }
  .c-site-cover__content {
    padding: 40px 0; }
  .c-site-cover__title, .c-site-cover__description {
    grid-column: 1 / span 10; }
  @media (min-width: 640px) {
    .c-site-cover__title {
      grid-column: 1 / span 4; } }
  @media (min-width: 640px) {
    .c-site-cover__description {
      border-left: 1px solid #000000;
      grid-column: 5 / span 5;
      padding-left: 20px; } }

.c-site-frame {
  display: none; }
  @media (min-width: 960px) {
    .c-site-frame {
      display: block; } }
  .c-site-frame__side, .c-site-frame__bottom {
    background-color: #FFFFFF;
    position: fixed;
    z-index: 10; }
    @media (max-width: 960px) {
      .c-site-frame__side, .c-site-frame__bottom {
        display: none; } }
  .c-site-frame__side {
    bottom: 50px;
    height: calc(100% - 100px);
    top: 50px;
    width: 50px; }
    .c-site-frame__side--left {
      left: 0; }
    .c-site-frame__side--right {
      right: 0; }
  .c-site-frame__bottom {
    bottom: 0;
    height: 50px;
    min-width: 100%; }

.c-site-header {
  background-color: #FFFFFF;
  min-height: 50px;
  position: fixed;
  width: 100%;
  z-index: 10; }

.l-collage {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: minmax(118px, 1fr) repeat(8, minmax(0px, 118px)) minmax(118px, 1fr); }
  .l-collage__item:nth-child(5n + 1), .l-collage__item:nth-child(5n + 2) {
    height: 100%;
    max-height: 20vw;
    min-height: 220px; }
  .l-collage__item:nth-child(5n + 1) {
    grid-column: 3 / span 3; }
  .l-collage__item:nth-child(5n + 2) {
    grid-column: 6 / span 4; }
  .l-collage__item:nth-child(5n + 3) {
    grid-column: 1 / span 6;
    height: 100%;
    max-height: 30vw;
    min-height: 350px; }
  .l-collage__item:nth-child(4), .l-collage__item:nth-child(5), .l-collage__item:nth-child(9) {
    grid-column: 1 / span 10;
    height: 75vh; }

.l-columns {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(10, 1fr); }

.l-content-wrap {
  padding: 50px 20px;
  width: 100%; }
  @media (min-width: 960px) {
    .l-content-wrap {
      padding: 50px; } }

.l-wrapper {
  margin: 0 auto;
  max-width: 1120px;
  width: 100%; }

.h-cover, .h-screen-overlay {
  bottom: 0;
  height: 100%;
  left: 0;
  min-height: 100%;
  position: absolute;
  right: 0;
  top: 0; }

.h-cover-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.h-screen-overlay {
  display: none;
  z-index: 9999; }
