/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300; }

a, a:visited {
  color: #000000; }

a:hover, a:focus, a:active {
  color: #000000; }

.c-site-header {
  background-color: #FFFFFF;
  min-height: 50px;
  position: fixed;
  width: 100%; }

.c-site-frame {
  display: none; }
  @media (min-width: 960px) {
    .c-site-frame {
      display: block; } }
  .c-site-frame__side, .c-site-frame__bottom {
    background-color: #FFFFFF;
    position: fixed;
    z-index: 100; }
    @media (max-width: 960px) {
      .c-site-frame__side, .c-site-frame__bottom {
        display: none; } }
  .c-site-frame__side {
    bottom: 50px;
    height: calc(100% - 100px);
    top: 50px;
    width: 50px; }
    .c-site-frame__side--left {
      left: 0; }
    .c-site-frame__side--right {
      right: 0; }
  .c-site-frame__bottom {
    bottom: 0;
    height: 50px;
    min-width: 100%; }

.l-wrapper {
  display: flow-root;
  margin: 0 auto;
  max-width: 1120px;
  padding: 0 20px;
  width: 100%; }

.l-page-wrap {
  padding: 50px 20px;
  width: 100%; }
  @media (min-width: 960px) {
    .l-page-wrap {
      padding: 50px; } }
