//--------------------------------------------------------------
// ELEMENTS
//--------------------------------------------------------------
body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

p {
	color: $color-grey-dark;
}

a {
	&,
	&:visited {
		color: $color-theme-black;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color-theme-black;
	}
}

button {
	appearance: none;
	border: 0;
	border-radius: 0;
}

iframe {
	height: 100%;
}
