//--------------------------------------------------------------
// 404 PAGE
//--------------------------------------------------------------
.error-404 {
	align-items: center;
	display: flex;
	justify-content: center;

	&__title {
		font-size: 24px;
	}
}
