//--------------------------------------------------------------
// HEADINGS
//--------------------------------------------------------------
.h1 {
	color: $color-grey-medium;
	font-family: $font-heading;
	font-size: 30px;
	font-style: italic;

	@include mq($mq-medium) {
		font-size: 48px;
	}
}

.h2 {
	color: $color-grey-medium;
	font-family: $font-heading;
	font-size: 30px;
	font-style: italic;
}
