//--------------------------------------------------------------
// HEADINGS
//--------------------------------------------------------------
.h1 {
	color: $color-grey-medium;
	font-family: $font-heading;
	font-size: 48px;
	font-style: italic;
}

.h2 {
	color: $color-grey-medium;
	font-family: $font-heading;
	font-size: 30px;
	font-style: italic;
}
