//--------------------------------------------------------------
// HELPERS
//--------------------------------------------------------------
.h-visual-hide {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.h-cover {
	bottom: 0;
	height: 100%;
	left: 0;
	min-height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}

.h-cover-background {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.h-overlay {
	position: relative;

	&::before {
		@extend .h-cover;

		background-color: transparentize($color-theme-black, 0.6);
		content: '';
		z-index: 2;
	}
}

.h-screen-overlay {
	@extend .h-cover;

	display: none;
	z-index: 9999;
}

.h-fill-vertical {
	min-height: 100vh;
}
