//--------------------------------------------------------------
// SETTINGS
//--------------------------------------------------------------

//-----------------------------------------
// Global
//-----------------------------------------
$global-width: 1120px;
$global-padding: 20px;

//-----------------------------------------
// Media Queries
//-----------------------------------------
$mq-medium: 640px;
$mq-tablet: 768px;
$mq-full: 960px;
$mq-laptop: 1024px;
$mq-global-width: $global-width;
$mq-laptop-medium: 1280px;
$mq-laptop-large: 1440px;


//-----------------------------------------
// Colors
//-----------------------------------------
$color-primary: #656176;
$color-secondary: #C4AF9A;
$color-off-white: #FCFBFC;
$color-theme-black: #080705;


//-----------------------------------------
// Fonts
//-----------------------------------------
$font-heading: 'Libre Baskerville', serif;
$font-body: 'Montserrat', sans-serif;
