//--------------------------------------------------------------
// SETTINGS
//--------------------------------------------------------------


//-----------------------------------------
// Colors
//-----------------------------------------
$color-primary: #656176;
$color-secondary: #C4AF9A;
$color-off-white: #FCFBFC;
$color-theme-black: #080705;


//-----------------------------------------
// Fonts
//-----------------------------------------
$font-heading: 'Libre Baskerville', serif;
$font-body: 'Montserrat', sans-serif;
