//--------------------------------------------------------------
// STATES
//--------------------------------------------------------------
// lazysizes
.lazyload,
.lazyloading {
	opacity: 0;
}

.lazyloaded {
	animation: fade-in-up 300ms;
	opacity: 1;
}
