//--------------------------------------------------------------
// STATES
//--------------------------------------------------------------
// lazysizes
.lazyload,
.lazyloading {
	opacity: 0;
	transform: scale(0.9);
}

.lazyloaded {
	opacity: 1;
	transform: scale(1);
	transition: opacity 200ms, transform 300ms;
}

// <body>
.nav-is-open {
	overflow: hidden;
}
