//--------------------------------------------------------------
// CSS VARIABLES
//--------------------------------------------------------------
:root {
	--nav-width: 300px;
	--nav-transition: transform 0.75s;

	@include mq($mq-medium) {
		--nav-width: 400px;
	}
}
