//--------------------------------------------------------------
// WYSIWYG CONTENT
//--------------------------------------------------------------
.wysiwyg-content {
	p {
		font-size: 18px;
		line-height: 1.5;
		margin-bottom: $global-padding;
	}
}

// Headings
.wysiwyg-content {
	h1 {
		@extend .h1;

		margin-bottom: 25px;
	}

	h2 {
		@extend .h2;

		margin-bottom: $global-padding;
	}
}

// Lists
.wysiwyg-content {
	ul,
	ol {
		li {
			margin-bottom: 10px;
		}
	}

	ul {
		list-style: circle;
	}
}

// Images
.wysiwyg-content {
	img {
		display: block;
		margin: 0 auto;
		max-height: calc(100vh - 100px);
		width: auto;
	}
}

// Ghost Media Classes
figure {
	&.kg-width-wide {

	}

	&.kg-width-full {

	}
}

// Gallery Component
.kg-gallery-container {
	.kg-gallery-row {
		.kg-gallery-image {

		}
	}
}
