//--------------------------------------------------------------
// WYSIWYG CONTENT
//--------------------------------------------------------------
.wysiwyg-content {
	p {
		font-size: 18px;
		line-height: 1.5;
		margin-bottom: $global-padding;
	}
}

// Headings
.wysiwyg-content {
	h1 {
		@extend .h1;
	}

	h2 {
		@extend .h2;

		margin-bottom: $global-padding;
	}
}

// Images
.wysiwyg-content {
	img {
		display: block;
		margin: 0 auto;
		max-height: calc(100vh - 100px);
		width: auto;
	}
}
