//--------------------------------------------------------------
// FULL SCREEN HERO IMAGE
//--------------------------------------------------------------
.c-hero {
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	display: block;
	min-height: 100vh;
	position: relative;

	&--half {
		background-attachment: initial;
		min-height: 50vh;

		.c-hero__title {
			bottom: 50px;
		}
	}

	&__title {
		bottom: 100px;
		color: $color-theme-white;
		left: 25px;
		position: absolute;
		z-index: 1;

		@include mq($mq-full) {
			left: 150px;
		}
	}
}
