//--------------------------------------------------------------
// NAV TOGGLE
//--------------------------------------------------------------
.c-nav-toggle {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	height: 16px;
	justify-content: space-between;
	width: 53px;

	&:hover,
	&:focus {
		outline: 0;
	}

	&__bar {
		background-color: $color-theme-black;
		height: 1px;
		width: 40px;

		&:first-child,
		&:nth-child(3) {
			transition: transform 300ms 0ms cubic-bezier(0.68, -0.55, 0.265, 1.55), width 100ms 100ms;
		}

		&:nth-child(2) {
			transition: transform 500ms, opacity 500ms;
		}

		&--long {
			width: 53px;
		}
	}
}

// Close state
.nav-is-open .c-nav-toggle {
	&__bar {
		&:first-child,
		&:nth-child(3) {
			transition: transform 300ms 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55), width 100ms 400ms;
			width: 30px;
		}

		&:first-child {
			transform: translate(0, 6px) rotate(-45deg);
		}

		&:nth-child(2) {
			opacity: 0;
			transform: translateX(-300px);
		}

		&:nth-child(3) {
			transform: translate(0, -6px) rotate(45deg);
		}
	}
}
