//--------------------------------------------------------------
// SITE FOOTER
//--------------------------------------------------------------
.c-site-footer {
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;

		@include mq($mq-full) {
			align-items: flex-end;
			flex-direction: row;
			text-align: initial;
		}
	}
}


//-----------------------------------------
// Site Title
//-----------------------------------------
.c-site-footer {
	&__title {
		font-size: 18px;
		margin-bottom: 25px;

		@include mq($mq-full) {
			margin-bottom: 0;
		}

		a {
			text-decoration: none;
		}
	}
}

//-----------------------------------------
// Social Media
//-----------------------------------------
.c-site-footer {
	&__social-media {
		a {
			color: transparent;
		}

		svg {
			fill: $color-grey-dark;
			height: 35px;
			width: auto;
		}
	}
}
