//--------------------------------------------------------------
// SITE HEADER
//--------------------------------------------------------------
.c-site-header {
	background-color: $color-theme-white;
	min-height: 50px;
	position: fixed;
	width: 100%;
	z-index: 10;
}
