//--------------------------------------------------------------
// SITE FRAME
//--------------------------------------------------------------
.c-site-frame {
	display: none;

	@include mq($mq-full) {
		display: block;
	}

	&__side,
	&__bottom {
		background-color: $color-theme-white;
		position: fixed;
		z-index: 100;

		@include mq($mq-full, true, false) {
			display: none;
		}
	}

	&__side {
		bottom: 50px;
		height: calc(100% - 100px);
		top: 50px;
		width: 50px;

		&--left {
			left: 0;
		}

		&--right {
			right: 0;
		}
	}

	&__bottom {
		bottom: 0;
		height: 50px;
		min-width: 100%;
	}
}
