//--------------------------------------------------------------
// CONTENT WRAP
// Provide padding to offset site frame
//--------------------------------------------------------------
.l-content-wrap {
	padding: 50px 20px;
	width: 100%;

	@include mq($mq-full) {
		padding: 50px;
	};
}
