//--------------------------------------------------------------
// COLLAGE LAYOUT
//--------------------------------------------------------------
.l-collage {
	@extend .h-fill-vertical;

	display: grid;
	grid-gap: 20px;

	&__item {
		height: 300px;
	}
}

@include mq($mq-full) {
	.l-collage {
		grid-template-columns: minmax(118px, 1fr) repeat(8, minmax(0px, 118px)) minmax(118px, 1fr);
		padding: 0 50px 100px;

		&__item {
			&:nth-child(5n + 1),
			&:nth-child(5n + 2) {
				height: 100%;
				max-height: 20vw;
				min-height: 220px;
			}

			&:nth-child(5n + 1) {
				grid-column: 3 / span 3;
			}

			&:nth-child(5n + 2) {
				grid-column: 6 / span 4;
			}

			&:nth-child(5n + 3) {
				grid-column: 1 / span 6;
				height: 100%;
				max-height: 30vw;
				min-height: 350px;
			}

			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(9) {
				grid-column: 1 / span 10;
				height: 75vh;
			}
		}
	}
}
